version: '3.8'

services:
  photosono:
    build: .
    container_name: photosono
    volumes:
      - /Users/christian/photosono-pics/input:/input
      - /Users/christian/photosono-pics/output-unique:/output
      - /Users/christian/photosono-pics/timeline:/timeline
    environment:
      - PHOTOSONO_INPUT_DIR=/input
      - PHOTOSONO_OUTPUT_DIR=/output-unique
      - PHOTOSONO_FINAL_OUTPUT_DIR=/timeline
      - PHOTOSONO_DEDUPLICATION_ENABLED=true
      - PHOTOSONO_DEDUPLICATION_SCAN_INTERVAL=PT30S
      - PHOTOSONO_TIMELINE_ENABLED=true
      - PHOTOSONO_TIMELINE_SCAN_INTERVAL=PT1M
    restart: unless-stopped
