services:
  photosono:
    build: .
    restart: "no"
    volumes:
      - /mnt/usbhdd4/data/pics/new:/input
      - /mnt/usbhdd3/data/originals:/originals
      - /mnt/usbhdd3/data/timeline:/timeline
      - /mnt/usbhdd3/data/unknown-date:/unknown-date
      - /mnt/usbhdd3/data/unknown-type:/unknown-type
    environment:
      - PHOTOSONO_INPUT_DIR=/input
      - PHOTOSONO_ORIGINALS_DIR=/originals
      - PHOTOSONO_TIMELINE_DIR=/timeline
      - PHOTOSONO_UNKNOWN_DATE_DIR=/unknown-date
      - PHOTOSONO_UNKNOWN_TYPE_DIR=/unknown-type
