services:
  photosono:
    build: .
    restart: "no"
    volumes:
      - ./input:/input
      - ./originals:/originals
      - ./timeline:/timeline
      - ./unknown-date:/unknown-date
      - ./unknown-type:/unknown-type
    environment:
      - PHOTOSONO_INPUT_DIR=/input
      - PHOTOSONO_ORIGINALS_DIR=/originals
      - PHOTOSONO_TIMELINE_DIR=/timeline
      - PHOTOSONO_UNKNOWN_DATE_DIR=/unknown-date
      - PHOTOSONO_UNKNOWN_TYPE_DIR=/unknown-type
