version: '3.8'

services:
  photosono:
    build: .
    container_name: photosono
    volumes:
      - /Users/christian/photosono-pics/input:/input
      - /Users/christian/photosono-pics/output:/output
      - /Users/christian/photosono-pics/timeline:/timeline
      - /Users/christian/photosono-pics/unknown:/unknown
    environment:
      - PHOTOSONO_INPUT_DIR=/input
      - PHOTOSONO_OUTPUT_DIR=/output
      - PHOTOSONO_TIMELINE_DIR=/timeline
      - PHOTOSONO_UNKNOWN_DIR=/unknown
      - PHOTOSONO_DEDUPLICATION_ENABLED=true
      - PHOTOSONO_TIMELINE_ENABLED=true
    restart: "no" # One-shot execution, don't restart automatically
