services:
  photosono:
    build: .
    container_name: photosono
    volumes:
      - /Users/christian/photosono-pics/input:/input
      - /Users/christian/photosono-pics/output-unique:/output
      - /Users/christian/photosono-pics/timeline:/timeline
    environment:
      - PHOTOSONO_INPUT_DIR=/input
      - PHOTOSONO_OUTPUT_DIR=/output
      - PHOTOSONO_FINAL_OUTPUT_DIR=/timeline
      - PHOTOSONO_SCAN_INTERVAL=PT1M
    restart: unless-stopped
